@using miniproject.Models.Contentful
@using Contentful.Core.Images

@model Lesson

@{
    var lesson = Model;
    var imageUrl = lesson?.image?.File.Url;
    var imageUrlBuilder = ImageUrlBuilder.New().SetWidth(300);
    var productUrl = $"{imageUrl}{imageUrlBuilder.Build()}";
}

<div class="card h-100">
    <a asp-controller="Course" asp-action="GetCourse" asp-route-id="@lesson?.sku">
        <img class="card-img-top" src="@productUrl" alt="Card image cap">
    </a>
    <div class="card-body">
        <h5 class="card-title">
            <a class="link text-dark text-decoration-none" asp-controller="Course" asp-action="GetCourse"
                asp-route-id="@lesson?.sku">
                @Html.DisplayFor(p => p.sku) @Html.DisplayFor(p => p.name)
            </a>
        </h5>
        <p>
            @foreach (var courseType in lesson.courses)
            {
                <span class="pe-1">
                    <a class="link text-decoration-none" asp-controller="Course" asp-action="Type"
                    asp-route-id="@(courseType.name)">
                        @* <i class="@Html.Raw(courseType.fontIconTag)"></i> @(courseType.name) *@
                        #@Html.DisplayFor(lesson => courseType.name)
                    </a>
                </span>
            }
        </p>
        <p class="card-text">@(lesson.description)</p>
        <p>
            <i class="fas fa-graduation-cap"></i>
            <a class="link text-decoration-none" asp-controller="Course" asp-action="Teacher"
                asp-route-id="@(lesson.teacher.teacherId)">
                @Html.DisplayFor(p => p.teacher.teacherName)
            </a>
        </p>
        <div class="row">
            <div class="col">
                <partial name="_RateStar" />
            </div>
            <div class="col text-end align-self-end">
                <a class="text-decoration-none" asp-controller="Course" asp-action="GetCourse"
                    asp-route-id="@lesson.sku">
                    <p class="fw-bold">@Html.DisplayFor(p => p.price) บาท</p>
                </a>
            </div>
        </div>
    </div>
    @* <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
        </div> *@
</div>