@using Contentful.Core.Models
@using miniproject.Models.Contentful

@model Lesson

@section HeadScripts {
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
}
@{
    ViewData["Title"] = "Payment";
    Lesson lesson = Model;
    Order order = ViewBag.order;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-area="" asp-controller="Home"
                asp-action="Index"><i class="fas fa-home"></i> หน้าแรก</a></li>
        <li class="breadcrumb-item"><a class="text-decoration-none" asp-area="" asp-controller="Course"
                asp-action="Index">คอร์ส</a>
        </li>
        <li class="breadcrumb-item" aria-current="page"><a class="text-decoration-none" asp-area=""
                asp-controller="Course" asp-action="GetCourse" asp-route-id="@Model.sku">
                @Model.sku</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Payment</li>
    </ol>
</nav>

<div class="row pt-5 pb-5">
    <div class="col-12">
        @Html.Partial("_Stepper", Stepper.PAYMENT)
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <p class="fw-bold fs-3">
            <i class="fab fa-paypal" style="color: #002A8A"></i> <span style="color: #002A8A">Pay</span><span
                style="color: #019BE1">Pal</span>
        </p>
    </div>
</div>

<div class="row pt-4 pb-4 justify-content-center">
    <div class="col-12 col-md-6">
        <div class="card w-80">
            @* <img src="" class="card-img-top" alt="Course"> *@
            <div class="card-body">
                <h5 class="card-title pb-3">รหัสใบสั่งซื้อ : @(order.Id)</h5>
                <p class="card-text">
                    วิชา
                </p>
                <p class="card-text">
                    ราคา บาท
                </p>

            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6 pb-5">
        <div id="paypal-button-container"></div>
    </div>
</div>


@section Scripts
{
<script
    src="https://www.paypal.com/sdk/js?client-id=ATQ3dUs6iOV23KS0RkvaiunUlU8YmKPr39A_beYjDiDsVL8C0ukHXQljy5A9tJ5b6XlxhhDKdbCgv3h0&currency=THB&locale=th_TH"></script>
<script>
    paypal.Buttons({

        // Sets up the transaction when a payment button is clicked
        createOrder: function (data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        currency_code: "THB",
                        value: "@(lesson.price)",
                    },
                    description: "@(lesson.name)",
                    custom_id: "B120154",
                }]
            });
        },

        // Finalize the transaction after payer approval
        onApprove: function (data, actions) {
            return actions.order.capture().then(function (orderData) {
                // Successful capture! For dev/demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                // var transaction = orderData.purchase_units[0].payments.captures[0];
                // alert('Transaction ' + transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // When ready to go live, remove the alert and show a success message within this page. For example:
                var element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<h3 class="text-center">Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        },

        onCancel: function (data) {
            // Show a cancel page, or return to cart
            console.log("this payment is cancel.");
        }

    }).render('#paypal-button-container');

</script>
}