@using Contentful.Core.Models
@using miniproject.Models.Contentful

@model ContentfulCollection<Lesson>

@{
    ViewData["Title"] = "Home Page";
    Website website = ViewBag.website;
    ContentfulCollection<Lesson> lessons = Model;
}

<div class="text-center header fw-bold even">
    <div class="container boyimg">
        <div class="row">
            <div class="col-12 mb-3">
                <h1 class="display-4 fw-bold">
                    <span class="headerSpan">Welcome</span>
                </h1>
            </div>
            <div class="col-12">
                <h2>
                    <span class="headerSpan2">Learn about Something.</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="container carouselTop">
        <div class="row">
            <div id="carouselCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                @{
                    int CarouselIndex = 0;
                }
                @foreach (var item in website?.carousels)
                {  
                    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="@CarouselIndex"
                    @{
                        if(CarouselIndex == 0) {
                            <text>class="active" aria-current="true" </text>
                        }
                    }
                    aria-label="Slide @(CarouselIndex+1)"></button>
                    CarouselIndex++;
                }
                </div>
                <div class="carousel-inner carouselHeight">
                    @{
                        CarouselIndex = 0;
                    }
                    @foreach (var item in website.carousels)
                    {
                        <div class="carousel-item @(CarouselIndex == 0 ? "active" : "") carouselDocument">
                            @* <div class="carousel-caption d-none d-md-block">
                            </div> *@
                            <contentful-rich-text document="@(item.captions)"></contentful-rich-text>
                        </div>
                        CarouselIndex++;
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="row pt-5 pb-5">
        <div class="col-12">
            @Html.Partial("_Stepper", Stepper.SELECT)
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col">
            <p class="fw-bold fs-2">
                <i class="far fa-star" style="color: #FFD43B"></i>
                คอร์สเรียนใหม่
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var lesson in lessons)
        {
            <div class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                @Html.Partial("_CoursePartial", lesson)
            </div>
        }
    </div>
</div>

<div class="mt-5 pt-5 pb-5 text-center even">
    <div class="container pt-5 pb-3">
        <div class="row justify-content-center">
            <div class="col-6 col-md-4 col-lg-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-cloud fa-stack-2x text-danger"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">
                    <a class="link text-decoration-none" asp-area="" asp-controller="Course" asp-action="Index">
                        คอร์สทั้งหมด
                    </a>
                </h4>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-folder fa-stack-2x text-warning"></i>
                    <i class="fas fa-photo-video fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">
                    <a class="link text-decoration-none" asp-area="" asp-controller="Course" asp-action="Types">
                        หมวดหมู่
                    </a>
                </h4>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <span class="fa-stack fa-3x">
                    <i class="fas fa-square fa-stack-2x text-info" style="transform: rotate(30deg);"></i>
                    <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">
                    <a class="link text-decoration-none" asp-area="" asp-controller="Course" asp-action="Teachers">
                        ผู้สอน
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row pt-5">
        <div class="col">
            <p class="fw-bold fs-2">
                <i class="fas fa-star" style="color: #15AABF"></i>
                ยอดนิยม
            </p>
        </div>
    </div>

    <div class="row">
        @foreach (var lesson in website.popularCourse)
        {
            <div class="p-2 col-12 col-md-6 col-lg-4 col-xl-3">
                @Html.Partial("_CoursePartial", lesson)
            </div>
        }
    </div>
</div>

<div class="mt-5 pt-5 pb-5 text-center even">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/img/student.png" style="max-height: 200px;" />
            </div>
        </div>
        <div class="row fw-bold pt-4">
            <div class="col">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-square-full fa-stack-2x text-success" style="transform: rotate(30deg);"></i>
                    <i class="fas fa-play fa-stack-1x fa-inverse" style="color: #ffffff"></i>
                </span> Easy Play
            </div>
            <div class="col">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-square-full fa-stack-2x text-dark" style="transform: rotate(-20deg);"></i>
                    <i class="fas fa-star fa-stack-1x fa-inverse" style="color: #ffc107"></i>
                </span> Good for You
            </div>
            <div class="col">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-square-full fa-stack-2x text-warning" style="transform: rotate(100deg);"></i>
                    <i class="fas fa-infinity fa-stack-1x fa-inverse" style="color: #d500f9"></i>
                </span> Study Anytime
            </div>
        </div>
    </div>
</div>

<div class="mt-5 pt-5 pb-5 odd">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center text-md-end col-12 col-md-6">
                <img src="~/img/businessman.png" style="max-width: 100%" />
            </div>
            <div class="text-start p-4 col-12 col-md-6">
                <h2 class="fw-bold">มาร่วมเป็นวิทยากร</h2>
                <h5 style="max-width: 300px; text-indent: 1.5rem;">
                    มาสร้างสิ่งที่คุณรักและเพิ่มทักษะเครื่องมือที่มีค่าให้กับผู้เรียนบน StudioLearning
                    ที่มีผู้เรียนมากกว่า 1 ล้านคนด้วยกันกับเรา
                </h5>
                <a class="btn btn-dark" asp-controller="Home" asp-action="Me">เริ่มการสอน</a>
            </div>
        </div>
    </div>
</div>

<div class="mt-5 pt-5 pb-5 even">
    <div class="container">
        <div class="row align-items-center">
            <div class="text-center text-md-end col-12">
                <h2>
                    <i class="fab fa-leanpub logo-icon"></i>
                    Studio Learning
                </h2>
                <p>สถาบันออนไลน์ สำหรับคนที่ต้องการความก้าวหน้า</p>
                <p>สอนโดยผู้เชี่ยวชาญ จากประสบการณ์จริง</p>
            </div>
        </div>
    </div>
</div>
